@model ElectricShop.Common.DTO.ProductDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new product</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.BrandName)
        <p>@Html.EditorFor(model => model.BrandName)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.Name)
        <p>@Html.EditorFor(model => model.Name)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.Description)
        <p>@Html.EditorFor(model => model.Description)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.CategoryName)
        <p>@Html.EditorFor(model => model.CategoryName)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.SubCategoryName)
        <p>@Html.EditorFor(model => model.SubCategoryName)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.Price)
        <p>@Html.EditorFor(model => model.Price)</p>
    </div>
    <p><input type="submit" value="Create" /></p>
    @Html.ActionLink("Cancel and return to list", "Index")
}
