@model ElectricShop.Common.DTO.ProductDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <h2>Edit @Model.Name</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.BrandName, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryName, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SubCategoryName, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.SubCategoryName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price, new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}