<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        @Html.ActionLink("E-Store", "List", new { area = "", controller = "Product" })

        <!--Html.Action("Summary", "Cart")-->

        <div>
            @Html.ActionLink("Sign in", "Login", "Account", new { area = "" }, new { @class = "btn btn-primary" })
        </div>

        <div>
            @Html.ActionLink("Sign Out", "Logout", "Account", new { area = "" }, new { @class = "btn btn-primary" })
        </div>

        <div>
            @Html.ActionLink("Admin/Users", "Index", "Admin", new { area = "Administration" }, new { @class = "btn btn-primary" })
        </div>

        <div>
            @Html.ActionLink("Admin/Roles", "Index", "RoleAdmin", new { area = "Administration" }, new { @class = "btn btn-primary" })
        </div>

        <!--Search-->
        @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.TextBox("searchString", "", new { @class = "form-control mr-sm-2", placeholder = "Search" })
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        }
    </nav>

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-2">
                LINKS
            </div>
            <div class="col-8">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>