@model IEnumerable<ElectricShop.Common.DTO.ProductDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Products (admin)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { productId = item.Id }, new { @class = "btn btn-success" }) |

                @using (Html.BeginForm("Delete", "Product", new { productId = item.Id }, FormMethod.Post, null ))
                {
                    <input type="submit" class="btn btn-danger" value="Delete" />
                }
            </td>
        </tr>
    }

</table>
