@model ElectricShop.Data.Entities.Product

@{
    ViewBag.Title = "Create";
}

<h1>Create new product</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Name)
        <p>@Html.EditorFor(model => model.Name)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.Description)
        <p>@Html.EditorFor(model => model.Description)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.Category)
        <p>@Html.EditorFor(model => model.Category)</p>
    </div>

    <div>
        @Html.LabelFor(model => model.Price)
        <p>@Html.EditorFor(model => model.Price)</p>
    </div>
    <p><input type="submit" value="Create" /></p>
    @Html.ActionLink("Cancel and return to list", "Index")
}