<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-light bg-dark text-white">
        Online Store

        <!-- Search -->
        @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.TextBox("searchString", "", new { @class = "form-control mr-sm-2", placeholder = "Search" })
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        }

        <!-- Login/Register -->
        @if (!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Sign In", "Login", "Account", new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString()) }, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("Sign Up", "Register", "Account", new { area = "" }, new { @class = "btn btn-outline-primary" })
        }
        else
        {            
            <h4>Account</h4>
            @Html.ActionLink("Sign Out", "Logout", "Account", new { area = "" }, new { @class = "btn btn-primary" })
        }
    </nav>

    <!--Body-->
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>