<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar bg-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar">
                @Html.ActionLink("E-Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <!-- Search -->
                @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
                {
                    @Html.TextBox("searchString", "", new { @class = "form-control mr-sm-2", placeholder = "Search" })
                    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                }
            </div>
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <!-- links -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <!--Body-->
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>