<nav class="navbar bg-dark navbar-fixed-top">
    <div class="container">
        <div class="navbar">
            @Html.ActionLink("E-Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <!-- Search -->
            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
            {
                @Html.TextBox("searchString", "", new { @class = "form-control mr-sm-2", placeholder = "Search" })
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            }
        </div>
        <div>
            @Html.ActionLink("Administration", "Index", "Product", new { area = "admin" }, new { })
        </div>
        <div class="navbar">
            <ul class="nav navbar-nav">
                <!-- links -->
            </ul>
            @Html.Action("Summary", "Cart")
            @Html.Partial("_LoginPanelPartial")
        </div>
    </div>
</nav>
