@model IEnumerable<ElectricShop.Common.DTO.ProductDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Products (admin)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { productId = item.Id }) |
                @using (Html.BeginForm("Delete", "ProductAdmin"))
                {
                    @Html.Hidden("ProductId", item.Id)
                    <input type="submit" class="btn" value="Delete" />
                }
            </td>
        </tr>
    }

</table>
